# Drawish

false

# Computer king constraint

correctFile = ($file >= #FileC) && ($file <= #FileF);
correctRank = ($rank >= #Rank3) && ($rank <= #Rank6);

return correctFile && correctRank;

# Other pieces count

P N 1
P B 1