# Player king constraint

correctRank = $playerHasWhite ? #Rank1 : #Rank8;
return correctRank;

# Computer king constraint

correctRank = $playerHasWhite ? #Rank1 : #Rank8;
return correctRank;

# Other pieces count

P P 3
C P 3

# Other piece global constraint

# P P

correctRank = $playerHasWhite ? #Rank5 : #Rank4;
return correctRank;

# C P

correctRank = $playerHasWhite ? #Rank7 : #Rank2;
return correctRank;


# Other piece indexed constraint

# P P

correctFile = ($file == (#FileA + $index)) || ($file == (#FileH - $index));
return correctFile;

# C P

correctFile = ($file == (#FileA + $index)) || ($file == (#FileH - $index));
return correctFile;

# Other piece mutual constraint

# P P

filesDifference = $firstFile - $secondFile;
correctFile = (filesDifference == 1) || (filesDifference == -1);
return correctFile;

# C P

filesDifference = $firstFile - $secondFile;
correctFile = (filesDifference == 1) || (filesDifference == -1);
return correctFile;